.ignore/
.gradle/
/local.properties
/.idea
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
okhttputils/build
PagerSlidingTabStrip/build
scrollablelayoutlib/build
ufilesdk/build
ulive-android-sdk/build
yunfanplayer/build
heartlayout/build
*.iml
fastlane/report.xml
yf_encoder_sdk/build
yf_player_sdk/build
app/app-release.apk
projectFilesBackup/.idea/workspace.xml
lang_stream_sdk/.externalNativeBuild
